.number{
    font-size: 10em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.counter-container{
    background-color: rgb(8, 90, 141);
    border-radius: 20px;
    padding: 15px;

}
.counter{
    width: 150px;
    height: 50px;
    background-color: rgb(4, 4, 127);
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    margin: 0px 5px ;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    
}
.counter:hover{
    background-color: rgb(5, 5, 99);
    

}